.githack{
    font-variant-caps: titling-caps;
    color: rgb(18, 194, 18); 
    font-size: 1.7em;
    text-decoration: line-through;
}
.descriptionbox{
    border: 5px 5px 5px solid seagreen;
    background-color:rgb(134, 243, 107);
    width: 10%;

}